In [34]:
import pandas as pd
import numpy as np
import pyodbc

In [41]:
PATH = 'C:\\Users\\User\\Desktop\\blob_storage\\booking\\BOOKING_ALL.csv'
df = pd.read_csv(PATH, dtype={
  "Job No" : float,
  "Schd Time End" : str, 
  "Schd Time Start": str, 
  "Customer Name" : str,
  "Site Name" : str,
  "Address 1" : str,
  "Address 1" : str,
  "City" : str,
  "State" : str,
  "Zone" : str,
  "Phone" : str,
  "Serv Type" : str,   
  "Container Type" : str,
  "Status" : str,
  "Truck number" : str,
  "Route number" : str,
  "Initial Entry Date" : str,
  "Prorated Weight" : float,
  "Booking Reference 1" : str,
 "Booking Reference 2" : str,
  "Alternate Ref No 1" : str,
 "Alternate Ref No 2" : str,
 "Alternate Service Ref 1" : str,
 "Alternate Service Ref 2" : str,
 "Directions" : str,
 "Waste Type" : str,
 "Price" : float,
  "PO": str, 
  "Notes": str, 
  "Tip Site": str})
df = df.fillna(value=0)
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [42]:
df.Date = df.Date.dt.date
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [24]:
server = 'localhost' 
database = 'STAGE_1_DB'

username = 'SA' 
password = 'Sydwaste123#'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
# 38
for index, row in df.iterrows():
    cursor.execute("INSERT INTO STAGE_1_DB.BOOKING_SCH_1.BOOKING_TB_1 \
    (Job_No,Date,Schd_Time_Start,Schd_Time_End,Lat,Lng,\
    Customer_Number,Customer_Name,Site_Name,Address_1,\
    Address_2,City,State,PostCode,Zone,Phone,Qty_Scheduled,\
    Qty_Serviced,Serv_Type,Container_type,Bin_Volume,Status,\
    Truck_Number,Route_Number,Initial_Entry_Date,Weight,\
    Prorated_Weight_Kg,Booking_Reference_1,Booking_Reference_2,\
    Alternate_Ref_No_1,Alternate_Ref_No_2,Alternate_Service_Ref_1,\
    Alternate_Service_Ref_2,Notes,Directions,Waste_Type,Price,PO,Branch,Phone_2) \
    values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", 
                    row["Job No"],
                    row.Date,
                    row["Schd Time Start"],
                    row["Schd Time End"],
                    row["Latitude"],
                    row["Longitude"],
                    row["Customer number"],
                    row["Customer Name"],
                    row["Site Name"],
                    row["Address 1"],
                    row["Address 2"],
                    row["City"],
                    row["State"],
                    row.PostCode,
                    row.Zone,
                    row.Phone,
                    row["Qty Scheduled"],
                    row["Qty Serviced"],
                    row["Serv Type"],
                    row["Container Type"],
                    row["Bin Volume"],
                    row.Status,
                    row["Truck number"],
                    row["Route number"],
                    row["Initial Entry Date"],
                    row.Weight,
                    row["Prorated Weight"],
                    row["Booking Reference 1"],
                    row["Booking Reference 2"],
                    row["Alternate Ref No 1"],
                    row["Alternate Ref No 2"],
                    row["Alternate Service Ref 1"],
                    row["Alternate Service Ref 2"],
                    row["Notes"],
                    row["Directions"],
                    row["Waste Type"],
                    row["Price"],
                    row.PO,
                   "","")  
cnxn.commit()
cursor.close()

dtype('<M8[ns]')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2424343 entries, 0 to 2424342
Data columns (total 43 columns):
 #   Column                   Dtype
---  ------                   -----
 0   index                    int64
 1   Job No                   float64
 2   Date                     datetime64[ns]
 3   Schd Time Start          object
 4   Schd Time End            object
 5   Latitude                 float64
 6   Longitude                float64
 7   Customer number          float64
 8   Customer Name            object
 9   Site Name                object
 10  Address 1                object
 11  Address 2                object
 12  City                     object
 13  State                    object
 14  PostCode                 float64
 15  Zone                     int64
 16  Phone                    object
 17  Qty Scheduled            int64
 18  Qty Serviced             int64
 19  Serv Type                object
 20  Container Type           object
 21  Bin Volume               float64
 22  Status                   object
 23  Truck number             object
 24  Route number             object
 25  Generate ID              object
 26  Initial Entry Date       object
 27  Weight                   float64
 28  Prorated Weight          float64
 29  Booking Reference 1      int64
 30  Booking Reference 2      int64
 31  Alternate Ref No 1       int64
 32  Alternate Ref No 2       int64
 33  Alternate Service Ref 1  object
 34  Alternate Service Ref 2  int64
 35  Notes                    object
 36  Directions               object
 37  CheckLists               float64
 38  Waste Type               object
 39  Tip Site                 object
 40  Price                    float64
 41  PO                       object
 42  Weekday                  float64
dtypes: datetime64[ns](1), float64(11), int64(9), object(22)
memory usage: 795.3+ MB